.bg-effect {
  background-color: transparent;
  opacity: 0.1;
  background:
    radial-gradient(circle, transparent 20%, rgba(var(--sys-color-background), var(--tw-bg-opacity)) 20%, rgba(var(--sys-color-background), var(--tw-bg-opacity)) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, rgba(var(--sys-color-background), var(--tw-bg-opacity)) 20%, rgba(var(--sys-color-background), var(--tw-bg-opacity)) 80%, transparent 80%, transparent) 40px 40px,
    linear-gradient(rgba(var(--sys-color-primary), var(--tw-bg-opacity)) 3.2px, transparent 3.2px) 0 -1.6px,
    linear-gradient(90deg, rgba(var(--sys-color-primary), var(--tw-bg-opacity)) 3.2px, rgba(var(--sys-color-background), var(--tw-bg-opacity)) 3.2px) -1.6px 0;
  background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
}

.post-container {

  img {
    @apply my-8 dark:brightness-90 rounded-lg m-auto drop-shadow-2xl select-none;
  }

  article {
    h2 {
      @apply text-2xl sm:text-4xl font-bold text-primary mt-10 mb-5 md:text-4xl;
    }

    code:not(pre code) {
      @apply italic brightness-75 text-lg rounded-sm font-mono selection:p-0;
    }

    a {
      @apply text-tertiary hover:brightness-50 font-bold;
    }

    p {
      @apply leading-7 text-xl my-5;
    }
  }
}
