.mesh-gradient {
  background: rgba(var(--sys-color-primary), 1);
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="2000" height="1400" viewBox="0 0 2000 1400"> <g > <g > <g > <g filter="url(#blur-filter)"> <rect x="-1000" y="-700" width="4000" height="2800" fill="#215fa6" /> <path d="M-685.8319327731092 -802.2162162162163L-895.8319327731092 534.7837837837837L-488.8319327731092 601.7837837837837L608.1680672268908 3.7837837837837753" fill="#215fa6"/><path d="M843.5210084033613 358.34234234234236L207.52100840336135 1066.3423423423424L943.5210084033613 1782.3423423423424L1748.5210084033613 806.3423423423424" fill="#215fa6"/><path d="M1969.1596638655462 1053.4054054054054L1460.1596638655462 1927.4054054054054L2010.1596638655462 2483.4054054054054L2936.1596638655465 1549.4054054054054" fill="#215fa6"/><path d="M1325.5546218487395 -202.55255255255258L-15.445378151260513 1060.4474474474473L1215.5546218487395 1293.4474474474473L1569.5546218487395 802.4474474474474" fill="#215fa6"/><path d="M995 1107L188 1327L1426 2534L1669 1639" fill="#215fa6"/><path d="M1948.5126050420167 1147L1113.5126050420167 1711L1487.5126050420167 2587L2621.5126050420167 1827" fill="#215fa6"/> </g> </g> </g> </g> <rect width="2000" height="1400" fill="#fff" filter="url(#noise-filter)" /> <defs> <filter id="noise-filter" x="-800px" y="-560px" width="2800px" height="1959.9999999999998px" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"> <feTurbulence type="fractalNoise" baseFrequency="0.2" numOctaves="4" seed="15" stitchTiles="no-stitch" x="0" y="0" width="2000px" height="1400px" result="turbulence" > </feTurbulence> <feSpecularLighting surfaceScale="10" specularConstant="1.21" specularExponent="20" lighting-color="#fff" x="0" y="0" width="2000px" height="1400px" in="turbulence" result="specularLighting" > <feDistantLight azimuth="3" elevation="100"></feDistantLight> </feSpecularLighting> </filter> <filter id="blur-filter" x="-300.00000000000006" y="-300.00000000000006" width="2600" height="2000" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB" > <feFlood flood-opacity="0" result="BackgroundImageFix" /> <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" /> <feGaussianBlur stdDeviation="300.00000000000006" result="effect1_foregroundBlur_1_2" /> </filter> </defs> </svg>');
}

.post-container {
  img {
    @apply dark:brightness-90 rounded-lg select-none my-10;
  }

  article {
    h2 {
      @apply text-2xl sm:text-4xl font-bold text-primary mt-10 mb-5 md:text-4xl;
    }

    code:not(pre code) {
      @apply italic brightness-75 text-lg rounded-sm font-mono selection:p-0;
    }

    a {
      @apply text-tertiary hover:brightness-50 font-bold;
    }

    p {
      @apply leading-7 text-xl my-5;
    }
  }
}
