<header class="flex flex-none items-cente bg-surface py-10">
  <div
    class="flex flex-col text-center sm:flex-row sm:items-center sm:justify-between space-y-6 sm:space-y-0 container xl:max-w-7xl mx-auto px-4 lg:px-10">
    <div>
      <a href="/"
        class="inline-flex items-center space-x-2 font-bold text-lg tracking-wide text-primary hover:brightness-150">
        <i>njfamirm</i>
      </a>
    </div>

    <nav class="text-sm md:text-base space-x-4 md:space-x-6">
      {% for menu in nav.main %}
        <a class="font-semibold text-onSurface hover:hover:brightness-150
          {% if page.url == menu.link %} text-secondary {% endif %}" href="{{ menu.link }}">{{menu.label }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
