<nav class="navigation-drawer flex flex-col items-center w-3/4 md:w-2/5 h-screen fixed px-4 pt-14 gap-5 z-40 bg-surface transform-gpu -translate-x-full rtl:translate-x-full transition-transform">
  <a href="/" class="font-bold text-xl tracking-wide p-[2px] rounded-md text-primary hover:brightness-150">
    <i>{{ site.title }}</i>
  </a>
  <div class="flex flex-col justify-end gap-4 items-center text-md font-bold">
    {% for menu in nav.main %}
      <a class="text-onSurface {% if page.url==menu.url %} brightness-150 {% endif %}" href="{{ menu.url }}">
        {{ menu.label }}
      </a>
    {% endfor %}
  </div>
</nav>
<div class="body-overlay hidden fixed w-screen h-screen transition-colors z-30"></div>
