<div class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-primary">
      ادعیه
    </h2>
    <p class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
        آرشیو کوچکی از ادعیه‌های معروف
    </p>
  </div>
  <div class="flex flex-row flex-wrap justify-center gap-2 md:gap-8 w-full">
    {% for post in collections.prayer %}
      <a href="{{ post.url }}" class="w-full sm:w-auto py-5 cursor-pointer lg:w-2/5 medium:w-2/5 group">

        <div class="w-full select-none flex flex-col justify-center items-center mb-2 text-center drop-shadow-2xl rounded-lg overflow-clip">
          <div class="w-full absolute rounded-lg overflow-hidden">
            {% image post.data.coverImage, post.data.coverAlt %}
          </div>
          <h2 class="font-extrabold mx-2 my-8 leading-none text-4xl text-white drop-shadow-xl" style="letter-spacing: -0.03em">
            {{ post.data.title }}
          </h2>
        </div>

        <p class="leading-relaxed text-secondary mb-1 mx-5">
          {{ post.data.description }}
        </p>

        <div class="flex flex-row flex-wrap w-full gap-1 text-center mx-5">
          {% for tag in post.data.keywords %}
            <div>
              <div class="font-extralight inline-flex p-1 rounded leading-4 text-onTertiary bg-tertiary" style="font-size: 0.7em">{{ tag }}</div>
            </div>
          {% endfor %}
        </div>
      </a>
    {% endfor %}
  </div>
</div>
