---
permalink: /en/reading/feed.xml
layout: null
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ env.siteUrl }}">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ env.siteUrl }}{{ permalink }}" rel="self"/>
  <link href="{{ env.siteUrl }}"/>
  <updated>{{ collections.reading | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ env.siteUrl }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {%- for reading in collections.reading | reverse %}
  {%- set absoluteReadingUrl = reading.data.url | absoluteUrl(env.siteUrl) %}
  <entry>
    <title>{{ reading.data.title }}</title>
    <link href="{{ absoluteReadingUrl }}"/>
    <updated>{{ reading.date | dateToRfc3339 }}</updated>
    <id>{{ absoluteReadingUrl }}</id>
  </entry>
  {%- endfor %}
</feed>
