---
permalink: /script.js
eleventyExcludeFromCollections: true
---
{% set js %}
  {% include "./_js/banner.ts" %}
  {% include "./_js/register-service-worker.ts" %}
  {# {% include "./_js/quick-link.ts" %} #}
{% endset %}

{{ js | esbuild | safe }}
