---
permalink: /style.css
eleventyExcludeFromCollections: true
---

{% set css %}
  {% include "./_css/main.css" %}
  {% include "./_css/post.css" %}
  {% include "./_css/prayer.css" %}
  {% include "./_css/syntax-highlighter.css" %}
  {% include "./_css/vazirmatn-font.css" %}
{% endset %}
{{ css | postcss | safe }}
