---
layout: base.njk
title: Home
---
<div id="page-container" class="flex flex-col mx-auto w-full min-h-screen bg-background">
  <main id="page-content" class="flex flex-auto flex-col max-w-full">
    <div class="overflow-hidden">
      <div class="flex flex-col lg:flex-row-reverse space-y-16 lg:space-y-0 text-center lg:text-left container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
        <div class="lg:flex lg:items-center">
          <div>
            <div class="font-semibold inline-flex px-2 py-1 leading-4 mb-2 text-sm rounded bg-tertiary text-onTertiary">
              Wellcome to my new website!
            </div>
            <h2 class="text-7xl md:text-8xl font-extrabold mb-4 text-primary font-mono">
              <span class="font-semibold">Junior</span><br/>
              Full-Stack
              Developer
            </h2>
            <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary">
              Adventurer, reasercher, writer, and more.
            </h3>
            <div class="flex flex-col sm:flex-row sm:items-center justify-center lg:justify-start space-y-2 sm:space-y-0 sm:space-x-2 pt-10 pb-16">
              <a href="https://github.com/njfamirm" target="_blank"
                class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-onPrimary
                bg-primary text-onPrimary hover:text-onPrimary hover:bg-refPrimary-50 hover:border-refPrimary-50 focus:ring focus:border-refPrimary-40 focus:ring-opacity-50
                active:bg-primary active:border-primary">
                <span>See my Github profile</span>
                <svg fill="currentColor" class="opacity-50 hi-solid hi-arrow-right inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h279v60H180v600h600v-279h60v279q0 24-18 42t-42 18H180Zm202-219-42-43 398-398H519v-60h321v321h-60v-218L382-339Z"/></svg>
              </a>
              <a href="https://twitter.com/njfamirm" target="_blank" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-gray-200 bg-gray-200 text-gray-700 hover:text-gray-700 hover:bg-gray-300 hover:border-gray-300 focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-gray-200 active:border-gray-200">
                <span>follow me on Twitter/X</span>
              </a>
            </div>
          </div>
        </div>
        {# <div class="lg:mr-16 w-full lg:flex lg:justify-center lg:items-center"> #}
          {# <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF0066" d="M47.7,-61.9C61.9,-55.4,73.5,-41.5,80.1,-25.1C86.7,-8.7,88.3,10.2,80.9,24.3C73.6,38.4,57.4,47.6,42.5,57.5C27.5,67.4,13.7,78.1,-2.6,81.6C-18.9,85.2,-37.8,81.6,-49.4,70.6C-61,59.6,-65.4,41.1,-68.7,24C-72,6.9,-74.2,-9,-70.2,-23.3C-66.2,-37.6,-56.1,-50.5,-43.4,-57.4C-30.7,-64.4,-15.3,-65.4,0.7,-66.4C16.8,-67.4,33.5,-68.3,47.7,-61.9Z" transform="translate(100 100)"/>
          </svg> #}
          {# <img src="/img/main.jpg" alt="Hero Image" class="relative rounded-lg mx-auto shadow-lg"/> #}
        {# </div> #}
      </div>
    </div>

    {% include "post-list.njk" %}
  </main>
</div>
