---
title: خانه
permalink: /
---

<main class="flex flex-col mx-auto w-full">
  <main id="page-content" class="flex flex-auto flex-col max-w-full">
    <div class="overflow-hidden">
      <div class="space-y-16 lg:space-y-0 text-center xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
        <div class="flex flex-col items-center justify-center">
          <div class="font-semibold inline-flex px-2 py-1 leading-4 mb-2 text-sm rounded bg-tertiary text-onTertiary">
              به وبسایت من خوش آمدید!
            </div>
          <h2 class="text-4xl md:text-6xl font-extrabold mb-4 text-primary">
              سلام، من سید علیرضا تفتی هستم!
            </h2>
        </div>
      </div>
    </div>

    {% include "post-list.njk" %}
  </main>
</main>
