---
title: صفحه‌اصلی
permalink: /
eleventyNavigation:
  key: صفحه‌اصلی
  order: 0
---
<main class="space-y-16 lg:space-y-20 text-center mx-auto px-4 py-16 mt-14 lg:px-8 lg:py-32">
  <h1 class="text-3xl md:text-4xl font-extrabold mb-4">
    سلام! من <span class="text-primary">سید علیرضا تفتی </span>هستم.
  </h1>

  <div class="lg:w-96 relative mx-10 md:mx-auto">
    <div class="absolute inset-0 rounded-xl bg-secondary bg-opacity-10 -m-4 transform rotate-2"></div>
    <div class="absolute inset-0 rounded-xl bg-secondary bg-opacity-10 -m-4 transform -rotate-2"></div>
    <div class="relative rounded-lg mx-auto shadow-lg overflow-hidden">
      {% image "/img/hero.jpg", "Hero Image" %}
    </div>
  </div>

  {% include "blog-post-list.njk" %}
</main>
