---
title: Home
permalink: /
---

<main class="flex flex-col mx-auto w-full">
  <main id="page-content" class="flex flex-auto flex-col max-w-full">
    <div class="overflow-hidden">
      <div class="flex flex-col lg:flex-row-reverse space-y-16 lg:space-y-0 text-center lg:text-left container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
        <div class="lg:flex lg:items-center">
          <div>
            {# <div class="font-semibold inline-flex px-2 py-1 leading-4 mb-2 text-sm rounded bg-tertiary text-onTertiary">
              Wellcome to my new website!
            </div> #}
            <h2 class="text-4xl md:text-6xl font-extrabold mb-4 text-primary font-mono">
              Hi, I'm Amir Mohammad Najafi, <span class="italic">a Junior Full-Stack Developer</span>
            </h2>
          </div>
        </div>
      </div>
    </div>

    {% include "post-list.njk" %}
  </main>
</main>
