---
title: Not found!
permalink: /404.html
layout: null
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="{{ site.locale }}" dir="{{ site.dir }}">
  <head>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/style.css?v={{ git.shortSha }}">
  </head>

  <body>

    <div id="page-container" class="flex flex-col mx-auto w-full min-h-screen">
      <main id="page-content" class="flex flex-auto flex-col max-w-full">
        <div class="bg-surface min-h-screen flex items-center relative overflow-hidden">

          <div class="text-center space-y-10 relative container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
            <div>
              <div class="text-6xl md:text-9xl font-extrabold mb-10 md:mb-20 inline-block relative">
                <div class="absolute inset-0 border-4 border-secondary animate-ping"></div>
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-refPrimary-40 to-refPrimary-60 relative select-none">
              404
            </span>
              </div>
              <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
            Page Not Found
          </h2>
              <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-secondary lg:w-2/3 mx-auto">
            I'm sorry but the page you are looking for was not found.
          </h3>
            </div>
            <a href="/" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-5 text-sm rounded bg-onPrimary border-none text-primary shadow-sm hover:brightness-150 hover:shadow focus:ring active:shadow-none">
              <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-solid hi-arrow-left inline-block w-5 h-5">
                <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
              </svg>
              <span>Back to Home</span>
            </a>
          </div>
        </div>
      </main>
    </div>

    <script src="/script.js?v={{ git.shortSha }}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEMDKSSZ4R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SEMDKSSZ4R');
    </script>
  </body>
</html>
