---
layout: base.njk
---

<div class="post-container container xl:max-w-7xl lg:px-8 px-20 m-auto">
  <div class="text-center">
    <h2 style="letter-spacing: -0.03em" class="font-extrabold mx-4 my-8 text-[4.5em] leading-none text-onBackground">
      {{ postTitle }}
    </h2>
    <p class="text-tertiary lg:w-2/3 mx-auto">
      Published at: {{ page.date | humanReadableDate }} · {{ content | timeToRead }} read
    </p>
  </div>
  <article class="prose prose-indigo prose-lg mx-16">
    <img src="{{ postImg }}" alt="Featured Image of blog post" />
    {{ content | safe }}
  </article>
</div>
