---
layout: base.njk
---

<div class="post-container container xl:max-w-7xl lg:px-8 m-auto">
  <div class="text-center">
    <h2 style="letter-spacing: -0.03em" class="font-extrabold mx-4 my-8 md:text-[4.5em] text-[2.5em] leading-none text-onBackground">
      {{ postTitle }}
    </h2>
    <p class="text-tertiary lg:w-2/3 mx-auto">
      Published at: {{ page.date | humanReadableDate }} · {{ content | timeToRead }} read
    </p>
  </div>
  <article class="prose prose-indigo prose-lg md:mx-24 lg:mx-36 mx-8">
    {% image postCover, postCoverAlt %}
    {{ content | safe }}
  </article>
</div>
